body {
	margin: 0;
	background: black;
}

.pad-photo {
	width: 100%;
}

#timeline {
	position: relative;
	top: 40%;
	width: 150px;
	left: 50%;
	margin-left: -75px;
}

#preview {
	top: 50%;
	left: 50%;

	width: 600px;
	height: 400px;

	margin-right: 0;
	margin-bottom: 0;
	margin-top: -200px;
	margin-left: -300px;

	padding: 0;

	position: fixed;

	text-align: center
}

#preview img {
	height: 100%;
	margin-top: auto;
}

.loading {
  position: relative;
}

.loading:after {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}